.sq-menu-button {
    cursor: pointer;
    padding: .25rem .5rem .25rem .5rem;
    text-align: left;
    font-size: .85rem;
    display: flex;
}

.sq-menu-button-text {
    display: flex;
    flex-grow: 1;
    margin-left: .5rem;
    margin-right: .25rem;
}