.sq-toolbar {
    background-color: var(--sq-toolbar-bg-color);
    box-shadow: var(--sq-card-shadow);
    height: 1.5rem;
    align-self: start;
    padding: .1rem;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
}

::deep .sq-toolbar .sq-menu {
    border-radius: 0 !important;
}