@using Squill.Services;
@inject TabService TabManager

<div class="sq-toolbar" @attributes=AdditionalAttributes>
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }
}
