.context-wrapper{
    position: absolute;
    background-color: #00000066;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5rem;

    
}