@inherits GenericEditorBase<Character>

@using Squill.Data;
@using Squill.Data.ElementComponents;
@using Squill.Data.Elements;

<div class="sq-editor">
    @if(Target != null)
    {
        foreach (var component in Target.Components)
        {
            @component.GetEditor(Session, Target)
        }
    }
</div>

@code {
}
