.sq-editor-wrapper {
    position: relative;
    align-self: center;
    margin-top: 5rem;
    max-width: 80vw;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 800px) {
    .sq-editor-wrapper {
        max-width: unset;
        width: 100vw;
    }
}
