@using Squill.Data;
@using Squill.Data.Elements;

<div class="sq-markdown-wrapper @(Minimal ? "minimal" : "document")">
     <MarkdownEditor Value="@Value" 
         ValueChanged="OnValueChanged" 
         MinHeight="@(Minimal ? "1rem" : "300px")" 
         Placeholder="@Label"/>
</div>

@code {
    [Parameter]
    public new string Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public Func<string, string> WordStyle { get; set; }

    [Parameter]
    public bool Minimal { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public bool CommentsEnabled { get; set; }

    [Parameter]
    public EventCallback<Comment> CommentAdded { get; set; }

    public MarkdownEditor Editor { get; private set; }

    private async Task OnValueChanged(string newVal) => await ValueChanged.InvokeAsync(newVal);


}
