.textarea-container {
    display: flex;
    background-color: var(--mud-palette-surface);
    padding: 3rem;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    flex-direction: column;
}

.page {
    display: block;
    background-color: #333333;
    padding: 4rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

::deep.textarea-container .markdown-textfield {
    color: white;
}