.line {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    background-color: #808080;
    width: 1px;
    margin-top: 1.5rem;
    margin-bottom: 3.2rem;
}

.p-relative {
    position: relative;
    flex-direction: row;
}

.component-wrapper {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.component-actions {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-left: .5rem;
}
