
.diff-container {
    position: fixed;
    bottom: 0.25rem;
    right: 0.2rem;
    z-index: 10;
    box-shadow: var(--sq-card-shadow);
    border-radius: 2rem;
    background-color: var(--sq-card-bg-color);
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 1.5rem;
}

::deep.diff-container .mud-icon-button {
    background-color: #d1986f;
    outline: solid 1px #ffffff79;
    margin-right: .1rem;
}

::deep.diff-container .mud-chip {
    outline: solid 1px #ffffff79;
    margin: 0.1rem;
}

::deep .sync {
    border-radius: 2rem 0 0 2rem;
}

.git-diff-node {
    flex-grow: 1;
    padding: 0 .25rem 0 .25rem;
    background-color: gray;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;
    text-align: center;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,1);
}

    .git-diff-node > span {
        text-align: right;
        flex-grow: 1;
        margin-left: .25rem;
        margin-right: .25rem;
    }

.add {
    background-color: #56aa3d;
}

.del {
    background-color: #aa3737;
}

.mod {
    background-color: #d1bf3d;
    border-radius: 0 2rem 2rem 0;
}


::deep .spin > .bi {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
