@using Squill.Data;
@using Squill.Components.Layout

<div class="sq-form">
    <EditForm EditContext="m_context" OnSubmit="OnSubmit">
        <div class="sq-form-content">
            @if (!string.IsNullOrEmpty(m_error))
            {
                <span class="sq-error">@m_error</span>
            }
            <SqInputText Label="Name" @bind-Value=Project.Name />
            <SqInputText Label="Repository URL" @bind-Value=Project.RepositoryURL />
            <SqInputText Label="Repository Token" @bind-Value=Project.RepositoryToken />
            <SqIconButton Icon="save-fill" type="submit">Save</SqIconButton>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public Project Project { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    private EditContext m_context;
    private string m_error;

    protected override void OnInitialized()
    {
        m_context = new EditContext(Project);
    }
}
