:root {
    --sq-bg-color: #222222;
    --sq-button-bg-color: #444444;
    --sq-button-bg-color-hover: #333333;
    --sq-button-border-radius: .25rem;
    --sq-card-bg-color: #666666;
    --sq-card-border-radius: .25rem;
    --sq-toolbar-bg-color: #555555;
    --sq-card-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    --sq-text-default-color: #FFFFFF;
    --sq-tab-bg-color: #8fb2b2;
    --sq-selected-color: #51ebe2;
}

body {
    background-color: var(--sq-bg-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--sq-text-default-color);
    margin: 0;
}

.page {
    margin-top: 2.5rem;
}

.page, main, article {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    min-height: calc(100vh - 4rem);
}

.fade-hover {
    opacity: 0;
    transition: opacity ease-in-out .25s;
}

    .fade-hover:hover {
        opacity: 1;
    }

.count-pill {
    background-color: var(--mud-palette-text-primary);
    color: black;
    margin-left: .4rem;
    font-size: .75rem;
    padding: .1rem .25rem .1rem .25rem;
    border-radius: 1rem;
}

.border-collapse {
    padding: 1rem;
}

@media (max-width: 800px) {
    .mud-container, .border-collapse {
        padding: 0.1rem;
        margin-top: 0 !important;
    }
}

.sq-button {
    cursor: pointer;
    min-width: 2rem;
    color: white;
    background-color: var(--sq-button-bg-color);
    border: none;
    border-radius: var(--sq-button-border-radius);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #000000;
}

    .sq-button:hover {
        background-color: var(--sq-button-bg-color-hover);
        outline: 1px solid white;
    }

.sq-form {
    background-color: var(--sq-card-bg-color);
    border-radius: var(--sq-card-border-radius);
    padding: 1rem;
}

.sq-card {
    background-color: var(--sq-card-bg-color);
    border-radius: var(--sq-card-border-radius);
    padding: 1rem;
}

.sq-editor {
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1rem;
}

.disabled {
    cursor: default;
    filter: contrast(50%);
    pointer-events: none;
}

.sq-description {
    min-width: 20rem;
    min-height: 10rem;
}

.string-attribute{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.sq-input-text-container {
    display: flex;
    align-items: center;
    color: #FFFFFF77;
    font-size: .85rem;
}

.string-attribute input {
    background-color: var(--sq-bg-color);
    border: none;
    outline: 1px solid #FFFFFF77;
    border-radius: var(--sq-button-border-radius);
    height: 1.5rem;
    color: white;
    padding: 0 .5rem 0 .5rem;
}