body {
}

.fade-hover {
    opacity: 0;
    transition: opacity ease-in-out .25s;
}

    .fade-hover:hover {
        opacity: 1;
    }

.count-pill {
    background-color: var(--mud-palette-text-primary);
    color: black;
    margin-left: .4rem;
    font-size: .75rem;
    padding: .1rem .25rem .1rem .25rem;
    border-radius: 1rem;
}

.mud-tooltip-arrow::after{
    right: 50%;
    left: 50%;
}

.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.color-picker{
    position: relative;
}

.color-preview{
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    right: 16%;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 1.5rem;
}

.border-collapse {
    padding: 1rem;
}

@media (max-width: 800px) {
    .mud-container, .border-collapse {
        padding: 0.1rem;
        margin-top: 0 !important;
    }
}

.tab-panel-container {
    display: flex;
    flex-direction: column;
}

.manuscript-row {
    flex-wrap: wrap;
    outline: 1px solid #ffffff33;
    outline-offset: 2px;
    border-radius: .5rem;
    align-items: center;
}

.textarea-minimal{
    padding: 0 !important;
}

    .textarea-minimal .page {
        padding: .5rem !important;
        text-indent: 0 !important;
    }

    .textarea-minimal .grow-wrap {
        margin-bottom: 0 !important;
    }

    .textarea-minimal textarea {
        text-indent: 0 !important;
    }