@using Blazored.LocalStorage;
@using Squill.Services;
@inherits LayoutComponentBase
@inject UserService UserService
@inject ILocalStorageService Storage
@inject NavigationManager NavManager

<div class="page">
    <NavMenu />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender && UserService.CurrentUser == null)
        {
            if(await UserService.TryAutoLogin(Storage))
            {
                NavManager.NavigateTo(NavManager.Uri, true);
            }
        }
    }
}