@using Squill.Components.Layout
@using Squill.Pages;
@using Squill.Services;
@inject ProjectService ProjectService
@inject UserService UserService
@inject NavigationManager NavManager


<div class="sq-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="/img/squill_logo.png" class="sq-logo" /> Squill</a>
        @if (UserService.CurrentUser == null)
        {
            <SqMenu Icon="person-circle" AdditionalClasses="navbar-profile" Placement="SqMenu.eMenuPlacement.BottomLeft">
                <SqMenuButton Label="Login" OnClick="() => NavManager.NavigateTo(Login.URL)" />
                <SqMenuButton Label="Register" OnClick="() => NavManager.NavigateTo(Register.URL)" />
            </SqMenu>
        }
        else
        {
            <SqMenu Icon="person-circle" AdditionalClasses="navbar-profile" Placement="SqMenu.eMenuPlacement.BottomLeft">
                
            </SqMenu>
        }
    </div>
</div>

@code {

    private bool IsOpen { get; set; }

    private void ToggleNavMenu()
    {
        IsOpen = !IsOpen;
    }
}
